%h1 sites
.row
  .col-xs-12.col-sm-8.col-sm-offset-2
    %table.table.table-hover
      %thead
        %tr
          %th rank
          %th name
          %th url
          %th
      %tbody
        - @sites.each do |site|
          %tr
            %td= site.ranking
            %td= site.name
            %td= site.url
            %td
              %a{ href: '#', 
                  'data-toggle' => 'modal',
                  'data-target' => "modal-#{site.id}" }
                Edit

%footer= paginate @sites
